body {
    background-image: url('jungle.jpg');
    background-repeat: repeat;
}
#main_title {
    font-size: xx-large;
   color: rgb(35, 9, 0);
   font-family: "Bitcount Single", system-ui;
   -webkit-text-stroke: 1px rgb(35, 9, 0);
  background-image: url('Wood.jpg');
  background-repeat: repeat;
  background-size: 50%;
  text-align: center;
  ;
}

#indexing {
background-color: rgb(129, 180, 51);
}

p {
    color: rgb(0, 34, 2);
    -webkit-text-stroke: 1px rgb(0, 34, 2);
    font-family: "Geist Mono", monospace;
}


h2 {
    font-family: "Press Start 2P", system-ui;
 color: rgb(0, 34, 2);
    -webkit-text-stroke: 1px rgb(0, 34, 2);

}

ul {
    font-family: "Geist Mono", monospace;
    font-size: 300%;
    color: rgb(35, 9, 0) ;
    background-image: url('planks.jpg');
    background-repeat: repeat;
    background-size: 5%;
    width: 1310px;

    
}


#frog {
width: 100px;
height: 100px;

position: absolute;
left: 50%;
top: 16%;
mix-blend-mode: multiply;

}

a {
    color: orangered;
}


#good_night {
    rotate: calc(-30deg);
}

#tacos {
    width: 100px;
    height: 100px;
  position: absolute;
  left: 80%;
  top: 40%;

  rotate: calc(30deg);

}
