body {
background-image: url('jungle.jpg');
}

h1 {
    color: rgb(35, 9, 0) ;
background-image: url('Wood.jpg');
background-size: 20%;
text-align: center;
font-family: "Press Start 2P", system-ui;
    font-weight: 1000;
    -webkit-text-stroke: 1px rgb(35, 9, 0);
}

#interest_par {

    background-image: url('green_grid.jpg');
    text-align: center;
}

p {
   font-size: 150%; 
color: palegoldenrod;
font-family: "Geist Mono", monospace;
text-align: center;

}

 a {
    color: orangered;
}

#ball {
    position: absolute;
    top: 3%;
    left: 3% ;
}